.review-main {
    padding: 115px 0;
    width: 1290px;
    margin: 0 auto;
}

.review-text-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-text {
    color: #943B31;
    font-size: 64px;
    height: fit-content;
}

.review-line {
    margin: 10px 30px;
    width: 200px;
    height: 10px;
    background-color: #943B31;
    border-radius: 10px;
}

.read-more-text {
    padding: 20px 36px;
    border-radius: 15px;
    background-color: #943B31;
    font-size: 40px;
    font-family: 'Alfa Slab One', cursive;
    border: none;
    color: white;
}

.review-card-container {
    width: 371px;
    height: 527px;
    color: #943B31;
    font-size: 24px;
    border: #943B31 5px solid;
    display: flex;
}

.review-card {
    padding: 43px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}
