.footer {
    background-color: #943B31;
}

.footer-container {
    width: 1290px;
    margin: 0 auto;
    padding: 115px 0;
}

.visit-us-button {
    height: fit-content;
    padding: 20px 36px;
    border: none;
    border-radius: 15px;
    background-color: white;
    color: #943B31;
    font-size: 40px;
    font-family: 'Alfa Slab One', cursive;
}

.icon img {
    height: 50px;
    width: 50px;
    margin-bottom: 24px;
}

.text-part {
    font-size: 36px;
    color: white;
}

.reach-us-line {
    margin: 10px 30px;
    width: 200px;
    height: 10px;
    background-color: white;
    border-radius: 10px;
}
